* body {
    margin: 0rem;
    font-family: 'Racing Sans One', cursive;
}
.background-header {
    background-image: url(picture/fondo1.png);
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.alinear {
  
    text-align: center;
   
  
}
.logo{
    width: max-content;
    height: max-content;
    padding-left:175px;
    padding-right:175px;
    padding-top: 150px;
    padding-bottom: 100px;
}
.modal {
    text-align: center;
    position:relative;  
    transition: all 500ms ease;
    opacity: 5;
    visibility: hidden;
    z-index: 1;
    
    top: -160px;
    
}
#btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
}
.contenedor{
    align-items: center;
    width: 500px;
    height: 300px;
    margin: auto;
    background: linear-gradient(70deg, rgb(11, 162, 207) 0%, rgba(0,191,199,1) 35%, rgba(0,212,255,1) 80%);opacity: 0.8;  
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: all 500ms ease;
    padding: 40px 40px;
    
}
.contenedor label {
    position:static;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 25px;
    cursor:pointer;
}

#btn-modal {
    display: none;
}

.contenido h2{
   
    font-family: 'Racing Sans One', cursive;
}
.boton{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background: black;
    border: 5px white;
    border-style: outset;
    box-shadow: 10px 10px 10px white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    
}
.article{
    background-image: url(picture/hola.png);
    /*background-size: 100vw 100vh;
    width: 1400px;
   height: 900px;*/
   background-position: center center;
    background-size: cover;
    
    
}
.probar{
    text-align: center;
}
.boton2{
    text-align: center;
    position:relative ;
    z-index: 1;
  
    top: 350px;
}
.tamaño{
    margin-top: -60px;
    margin-bottom: 200px;
    width: 600px;
    height: 600px;
    padding-top: 140px;
   
}
.search-form{
    float: right;
    margin-top: 50px;
    margin-right: 20px;
}
.flex-top-header{
    flex-wrap: wrap;
}
.menu{
    float: left;
    margin-top: 50px;
    margin-left: 20px;

}

/*MENU DESPLEGABLE*/
/*nav {
	display:block;
	margin: 0 auto 20px;
	border: 1px solid rgb(243, 242, 242);
	position: relative;
	background-color: #06174e;
	font: 16px Tahoma, sans-serif;
}

nav ul {
	padding:0;
	margin: 0;
    
    text-align: center;
}

nav ul:after {
	content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

nav li {
	position: relative;
	float: left;
	list-style-type: none;
}

nav li a{
	display:block;
	padding: 10px 20px;
	border-left: 1px solid #999;
	border-right: 1px solid #222;
	color: rgb(249, 249, 250);
	text-decoration: none;
}

nav li a:focus{
	outline: none;
	text-decoration: underline;
}

nav li:firt-child a{
	border-left: none;
}

nav li.ultimo a {
	border-right: none;
}

nav li:hover ul {
	display: block;
}

nav a span { 
    display: block; 
    float: right; 
    margin-left: 5px; 
}

nav ul a span { 
    -moz-transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg);
    transform: rotate(-180deg);
}

nav ul ul { 
    display: none; 
    width: 100%; 
    position: absolute; 
    left: 0; 
    background: #257bcc;
}
nav ul ul li { 
    float: none; 
}
nav ul ul a { 
    padding: 5px 10px; 
    border-left: none; 
    border-right: none; 
    font-size: 14px; 
}
nav ul ul a:hover { 
    background-color: #257bcc; 
}

nav { 
    border-radius:4px;
    box-shadow:2px 2px 2px rgba(245, 243, 243, 0.75);
    
    background-image:-moz-linear-gradient(0% 22px 90deg, #0f0f0f, rgb(19, 18, 18)); 
    background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(rgb(12, 12, 12)), to(#0a0a0a));  
}

nav li:hover { 
    background-image:-moz-linear-gradient(0% 100px 90deg, rgb(14, 82, 230), #0d0e4e); 
    background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#80a1fb), to(rgb(35, 7, 196))); 
}

nav ul ul { 
    border-bottom-left-radius:4px; 
    border-bottom-right-radius:4px;
    box-shadow:2px 2px 2px rgba(0,0,0,.8); 
    background-color:rgba(94, 91, 223, 0.8); 
}
nav ul ul li { 
    border-left:1px solid rgba(0,0,0,0.1); 
    border-right:1px solid rgba(0,0,0,0.1); 
}
nav ul ul li.ultimo { 
    border-left:1px solid rgba(0,0,0,0.1); 
    border-bottom:1px solid rgba(0,0,0,0.1);
    border-bottom-left-radius:4px; 
    border-bottom-right-radius:4px;  
}
nav ul ul a:hover { 
    background-color:rgba(128, 167, 251, 0.9); 
}*/

/*Segunda Página*/

#segundapagina{
    display: none;
}



.filtro{
    background-image: url(picture/fondo2.jpeg);
    background-position: center center;
    background-size: cover;
    text-align: center;
    height: 300px;
}

.card {
    background-color: #11f8f8;
    background-image:url(picture/cardfondop.png); 
  
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 300px;
    border: 3px  black;
    border-style: double;
    border-radius: 10px;
    text-align: center;
    color: blanchedalmond;
    
}

.card__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;

}

.navigation {
    width: 300px;
  }
  
 
  .mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
 
  .mainmenu a {
    display: block;
    background-color: #CCC;
    text-decoration: none;
    padding: 10px;
    color: #000;
  }
  
  
  .mainmenu a:hover {
      background-color: #C5C5C5;
  }
  
  
  
  
  .mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
  }
  
    
  .submenu a {
    background-color: #999;
  }
  
  
  .submenu a:hover {
    background-color: #666;
  }
  
  
  .submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
  }

  /*tercerapagina*/

  .filtro1 {
    background-image: url(picture/fondo1.png);
    background-position: center center;
    background-size: cover;
    text-align: center;
}

#tercerapagina {
    display: none;
}