body {
    margin: 0rem;
}
.background-header {
    background-image: url(picture/fondo1.png);
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.logo {
    margin: 100px 200px;
}
.modal {
    position:relative;  
    transition: all 500ms ease;
    opacity: 5;
    visibility: hidden;
    z-index: 1;
    left: 25%;
    top: -250px;
    width: 200px;
    height: 200px;
}
#btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
}
.contenedor{
    width: 500px;
    height: 300px;
    margin: auto;
    background: rgb(174, 197, 228);
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: all 500ms ease;
    padding: 20px 20px;
    
}
.contenedor label {
    position:static;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 25px;
    cursor:pointer;
}

#btn-modal {
    display: none;
}

.contenido h2{
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black ;
}
.boton{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background: black;
    border: 5px white;
    border-style: outset;
    box-shadow: 10px 10px 10px white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    
}
.article{
    background-image: url(picture/hola.png);
    /*background-size: 100vw 100vh;
    width: 1400px;
   height: 900px;*/
   background-position: center center;
    background-size: cover;
    
    
}
.probar{
    text-align: center;
}
.boton2{
    position:relative ;
    z-index: 1;
    left: 540px;
    top: 350px;
    width: 300px;
    height: 200px;
}
.tamaño{
    margin-top: -100px;
    margin-bottom: 100px;
    width: 500px;
    height: 500px;
}
.search-form{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
.menuci{
    flex-wrap: wrap;
}
.menu{
    float: left;
    margin-top: 30px;
    margin-left: 20px;

}
   
/*figure {
    width: auto;
    margin: 0%;
}
img {
    width: 100%;
}
.image2 {
    margin-top: 10rem;
}