* body {
    margin: 0rem;
    font-family: 'Racing Sans One', cursive;
}
.background-header {
    background-image: url(picture/fondo1.png);
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.alinear {
  
    text-align: center;
   
  
}
.logo{
    width: max-content;
    height: max-content;
    padding-left:175px;
    padding-right:175px;
    padding-top: 150px;
    padding-bottom: 100px;
}
.modal {
    text-align: center;
    position:relative;  
    transition: all 500ms ease;
    opacity: 5;
    visibility: hidden;
    z-index: 1;
    
    top: -160px;
    
}
#btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
}
.contenedor{
    align-items: center;
    width: 500px;
    height: 300px;
    margin: auto;
    background: linear-gradient(70deg, rgb(11, 162, 207) 0%, rgba(0,191,199,1) 35%, rgba(0,212,255,1) 80%);opacity: 0.8;  
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: all 500ms ease;
    padding: 40px 40px;
    
}
.contenedor label {
    position:static;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 25px;
    cursor:pointer;
}

#btn-modal {
    display: none;
}

.contenido h2{
   
    font-family: 'Racing Sans One', cursive;
}
.boton{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background: black;
    border: 5px white;
    border-style: outset;
    box-shadow: 10px 10px 10px white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    
}
.article{
    background-image: url(picture/hola.png);
    /*background-size: 100vw 100vh;
    width: 1400px;
   height: 900px;*/
   background-position: center center;
    background-size: cover;
    
    
}
.probar{
    text-align: center;
}
.boton2{
    text-align: center;
    position:relative ;
    z-index: 1;
  
    top: 350px;
}
.tamaño{
    margin-top: -60px;
    margin-bottom: 200px;
    width: 600px;
    height: 600px;
    padding-top: 140px;
   
}
.search-form{
    float: right;
    margin-top: 50px;
    margin-right: 20px;
}
.flex-top-header{
    flex-wrap: wrap;
}
.menu{
    float: left;
    margin-top: 50px;
    margin-left: 20px;

}

/*MENU DESPLEGABLE*/
nav {
	display:block;
	margin: 0 auto 20px;
	border: 1px solid rgb(243, 242, 242);
	
	
	font: 16px Tahoma, sans-serif;
}

nav ul {
	padding:0;
	margin: 0;
    text-align: center;
    
}


nav ul ul a { 
    border-left: none; 
    border-right: none; 
    font-size: 14px; 
}

/*Segunda Página*/

#segundapagina{
    display: none;
}

.filtro{
    background-image: url(picture/fondo2.jpeg);
    background-position: center center;
    background-size: cover;
    text-align: center;
    height: 300px;
}

.card {
    background-color: #11f8f8;
    background-image:url(picture/cardfondop.png); 
  
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 300px;
    border: 3px  black;
    border-style: double;
    border-radius: 10px;
    text-align: center;
    color: blanchedalmond;
    
}

.card__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;

}

.navigation {
    width: 200px;
  }
  
 
  .mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
 
  .mainmenu a {
    display: block;
    background-color: #CCC;
    text-decoration: none;
    padding: 8px;
    color: #000;
  }
  
  
  .mainmenu a:hover {
      background-color: rgb(0,176,199);
  }
  
  .mainmenu li:hover .submenu {
    display: block;
    max-height: 100px;
  }
  
    
  .submenu a {
    background-color:  rgb(0,176,199);
  }
  
  
  .submenu a:hover {
    background-color: #CCD852;}
  
  
  .submenu {
    overflow: hidden;
    max-height: 0;
    
  }

  /*tercerapagina*/

  .filtro1 {
    background-image: url(picture/fondo1.png);
    background-position: center center;
    background-size: cover;
    text-align: center;
}

#tercerapagina {
    display: none;
}


.home{
    font-family: 'racing sans';
    font-size: 30px;
    margin-top: 25px;
    color:#fafd7cff;
    background: black;
    border: 5px #7FFA67;
    border-style: outset;
    box-shadow: 10px 10px 10px #CCD852;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    
}

.tituloOne {
    font-family: 'reggae one';
    font-size: 50px;
    color: #CCD852;
    text-shadow: rgb(0,176,199) 0 -2px;
    -webkit-text-stroke: 1px #24235fff;

}



